<!DOCTYPE html>
<html>
  <head>
      <title>B2M</title>
	    <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <link rel="stylesheet" type="text/css" href="../static/main.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- Values from flask-->
      <script>
        var chosen_carottages = '{{chosen_carottages}}'
        chosen_carottages = chosen_carottages.replace(/&#34;/gi, '"');
        var w = chosen_carottages.replace(/ ""/gi, " \"'");
        w = w.replace(/""/gi, "'\"");
        chosen_carottages = JSON.parse(w)


        var csv_name = '{{ csv_name }}';
        var carottages = '{{ carottages }}';

      </script>

      <!-- Plotly.js -->
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="../static/plotly.js"></script> 

      <style type=text/css>
      .check_carottages {
        width:40px;
      }
      
      </style>
  </head>

  <body>
    <div id="app" class="st-main">

      <!-- HEADER -->
      <div class="st-main-top">
        <div class="st-main-logo-block" style='color: azure; font-size: 30px'>
          <img src="../static/favicon.ico" class="st-main-logo-icon">
          B2M
        </div>
      </div>

      <div class="w3-main" style="margin-top:43px; height: 100%; width: 100%;">
          <div class="w3-panel" style="padding-top:10px">
              <div class="w3-row-padding">


                <div class="w3-container w3-third">
                      <form action="{{ url_for('main') }}" method="POST">
                          <div class="form-group">
                              <div class="input-group">
                                  <select name="well" class="selectpicker form-control">
                                      <option value="" disabled selected>Скважина</option>
                                      {% for o in wells %}
                                      <option type="text" value="{{o}}"> {{o}} </option>
                                      {% endfor %}
                                  </select>

                                  <div style='padding: "50px 10px 20px 30px"; color: red;'>
                                      {{ error_mess }} 
                                  </div>
                              </div>
                              
                              
                              <div>
                                <input type="checkbox" name="carottages" value="bk" checked>
                                <span class= 'check_carottages' > bk </span>
                                <input value=1000 >
                              </div>
                              <div>
                                  <input type="checkbox" name="carottages" value="GZ1" checked>
                                  <span class= 'check_carottages'> GZ1 </span>
                                  <input value=200 >
                              </div>
                              <div>
                                  <input type="checkbox" name="carottages" value="GZ2" checked>
                                  <span class= 'check_carottages'> GZ2 </span>
                                  <input value=3000 >
                              </div>
                              <div>
                                  <input type="checkbox" name="carottages" value="GZ3">
                                  <span class= 'check_carottages'> GZ3 </span>
                                  <input value=2000 >
                              </div>

                              <div>
                                  <input type="checkbox" name="carottages" value="GZ4">
                                  <span class= 'check_carottages'> GZ4 </span>
                                  <input value=500 >
                              </div>
                              <div>
                                  <input type="checkbox" name="carottages" value="GZ5">
                                  <span class= 'check_carottages'> GZ5 </span>
                                  <input value=1000 >
                              </div>
                              <div>
                                  <input type="checkbox" name="carottages" value="GZ7" >
                                  <span class= 'check_carottages'> GZ7 </span>
                                  <input value=1000 >
                              </div>
                              <div>
                                  <input type="checkbox" name="carottages" value="DGK"checked>
                                  <span class= 'check_carottages'> DGK </span>
                                  <input value=1000 >
                              </div>
                              <div>
                                  <input type="checkbox" name="carottages" value="NKTD">
                                  <span class= 'check_carottages'> NKTD </span>
                                  <input value=1000 >
                              </div>
                              <div>
                                  <input type="checkbox" name="carottages" value="NKTM">
                                  <span class= 'check_carottages'> NKTM </span>
                                  <input value=1000 >
                              </div>
                              <div>
                                  <input type="checkbox" name="carottages" value="NKTR">
                                  <span class= 'check_carottages'> NKTR </span>
                                  <input value=1000 >
                              </div>
                              <div>
                                  <input  type="checkbox" name="carottages" value="ALPS">
                                  <span class= 'check_carottages'> ALPS </span>
                                  <input value=1000 >
                              </div>

                              <!--
                              <div id='carottages-div'>
                                  <select name="carottages" class="selectpicker form-control">
                                      <option value="" disabled selected>Каротаж</option>
                                      {% for o in carottages %}
                                      <option type="text" value="{{o}}"> {{o}} </option>
                                      {% endfor %}
                                 </select>
                              </div>
                              

                              <div onclick="myFunction()" class="btn btn-primary w3-black">Добавить Каротаж</div>

                              <script>
                                function myFunction() {
                                  
                                  var btn = document.createElement("BUTTON");
                                  btn.innerHTML = "CLICK ME"; 
                          
                                  element = document.getElementById('carottages-div');
                          
                                  var p = document.getElementById('carottages-div').children[0].cloneNode(true);
                                  element.appendChild(p);
                                }
                                </script>
                              -->
                              
                              <button type="submit" class="btn btn-primary w3-black button_RUN">Расчёт</button>
                              
                          </div>
                          
                      </form>
                      
                  </div>
  
                  <div class="w3-container w3-twothird">
                      MONEY

                      <script src="http://d3js.org/d3.v3.min.js"></script>

                      <script type="text/javascript"charset="utf-8">
                          d3.text(csv_name, function(data) {
                              var parsedCSV = d3.csv.parseRows(data);

                              table = document.createElement('table')

                              my_div = document.getElementById("app");
                              document.body.insertBefore(table, my_div);

                              for (var i = 0; i < parsedCSV.length; i++) {

                                tr = document.createElement('tr')

                                for (var j = 0; j < parsedCSV[i].length; j++) {
                                  td = document.createElement('td');
                                  td.text = parsedCSV[i][j];

                                  var x = tr.insertCell(-1);
                                  x.innerHTML=parsedCSV[i][j];
                                
                                }

                                table.appendChild(tr);
                                // ещё какие-то выражения
                              }

                              
                          });
                      </script>

                      <div id="graph"></div>
                  </div>

              </div>

          </div>

          <!-- End page content -->
      </div>


    </div>
  </body>
</html>
