<!DOCTYPE html>
<html>
  <head>
      <title>B2M</title>
	    <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <link rel="stylesheet" type="text/css" href="../static/main.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- Values from flask-->
      <script>
        var chosen_carottages = '{{chosen_carottages}}'
        chosen_carottages = chosen_carottages.replace(/&#34;/gi, '"');
        var w = chosen_carottages.replace(/ ""/gi, " \"'");
        w = w.replace(/""/gi, "'\"");
        chosen_carottages = JSON.parse(w)


        var csv_name = '{{ csv_name }}';
        var carottages = '{{ carottages }}';

      </script>

      <!-- Plotly.js -->
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="../static/plotly.js"></script> 

      <style type=text/css>
      .check_carottages {
        display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-between;
      }
          #customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
      #table tr:first-child td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

          #table thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
      
      </style>
  </head>

  <body>
    <div id="app" class="st-main">

      <!-- HEADER -->
      <div class="st-main-top">
        <div class="st-main-logo-block" style='color: azure; font-size: 30px'>
          <img src="../static/favicon.ico" class="st-main-logo-icon">
          B2M
        </div>
      </div>

      <div class="w3-main" style="margin-top:43px; height: 100%; width: 100%;">
          <div class="w3-panel">
              <div class="w3-row-padding">


                <div class="w3-container w3-third">
                      <form action="{{ url_for('main') }}" method="POST">
                          <div class="form-group">
                              <div class="input-group">

                                  <select name="well" class="selectpicker form-control" style='margin: 5px 0px 10px 0px'>
                                      <option value="" disabled selected>Скважина</option>
                                      {% for o in wells %}
                                      <option type="text" value="{{o}}"> {{o}} </option>
                                      {% endfor %}
                                  </select>

                                  <div style='padding: 10px 10px 20px 20px; color: red;'>
                                      {{ error_mess }} 
                                  </div>
                              </div>
                              
                              <div name="allCorotages" style="width: 300px">
                                  <div style="color: forestgreen">Recommended:</div>
                                  <div class="check_carottages">
                                      <div>
                                          <input  type="checkbox" name="carottages" value="ALPS" checked>
                                          <span> ALPS </span>
                                      </div>
                                      <input value=1000 >
                                  </div>
                                  <div style="color: dimgrey">Optional:</div>
                                  <div class="check_carottages">
                                      <div>
                                        <input type="checkbox" name="carottages" value="bk">
                                        <span> bk </span>
                                      </div>
                                    <input value=2450 >
                                  </div>
                                  <div class="check_carottages">
                                      <div>
                                          <input type="checkbox" name="carottages" value="GZ1">
                                          <span> GZ1 </span>
                                      </div>
                                      <input value=2050 >
                                  </div>
                                  <div class="check_carottages">
                                      <div>
                                          <input type="checkbox" name="carottages" value="GZ2">
                                          <span> GZ2 </span>
                                      </div>
                                      <input value=2050 >
                                  </div>
                                  <div class="check_carottages">
                                      <div>
                                          <input type="checkbox" name="carottages" value="GZ3">
                                          <span> GZ3 </span>
                                      </div>
                                      <input value=2050 >
                                  </div>

                                  <div class="check_carottages">
                                      <div>
                                          <input type="checkbox" name="carottages" value="GZ4">
                                          <span> GZ4 </span>
                                      </div>
                                      <input value=2050 >
                                  </div>
                                  <div class="check_carottages">
                                      <div>
                                          <input type="checkbox" name="carottages" value="GZ5">
                                          <span> GZ5 </span>
                                      </div>
                                      <input value=2050 >
                                  </div>
                                  <div class="check_carottages">
                                      <div>
                                          <input type="checkbox" name="carottages" value="GZ7" >
                                          <span> GZ7 </span>
                                      </div>
                                      <input value=2050 >
                                  </div>
                                  <div class="check_carottages">
                                      <div>
                                          <input type="checkbox" name="carottages" value="DGK">
                                          <span> DGK </span>
                                      </div>
                                      <input value=1300 >
                                  </div>
                                  <div class="check_carottages">
                                      <div>
                                          <input type="checkbox" name="carottages" value="NKTD">
                                          <span> NKTD </span>
                                      </div>
                                      <input value=2050 >
                                  </div>
                                  <div class="check_carottages">
                                      <div>
                                          <input type="checkbox" name="carottages" value="NKTM">
                                          <span> NKTM </span>
                                      </div>
                                      <input value=2050 >
                                  </div>
                                  <div class="check_carottages">
                                      <div>
                                          <input type="checkbox" name="carottages" value="NKTR">
                                          <span> NKTR </span>
                                      </div>
                                      <input value=2050 >
                                  </div>
                                  <div class="check_carottages">
                                      <div>
                                          <input  type="checkbox" name="carottages" value="ALPS">
                                          <span> ALPS </span>
                                      </div>
                                      <input value=1150 >
                                  </div>
                              </div>
                              <!--
                              <div id='carottages-div'>
                                  <select name="carottages" class="selectpicker form-control">
                                      <option value="" disabled selected>Каротаж</option>
                                      {% for o in carottages %}
                                      <option type="text" value="{{o}}"> {{o}} </option>
                                      {% endfor %}
                                 </select>
                              </div>
                              

                              <div onclick="myFunction()" class="btn btn-primary w3-black">Добавить Каротаж</div>

                              <script>
                                function myFunction() {
                                  
                                  var btn = document.createElement("BUTTON");
                                  btn.innerHTML = "CLICK ME"; 
                          
                                  element = document.getElementById('carottages-div');
                          
                                  var p = document.getElementById('carottages-div').children[0].cloneNode(true);
                                  element.appendChild(p);
                                }
                                </script>
                              -->
                              
                              <button type="submit" class="btn btn-primary w3-black button_RUN">Расчёт</button>
                              
                          </div>
                          
                      </form>
                      
                  </div>
  
                  <div class="w3-container w3-twothird">
                      
                      <div id="graph"></div>
                  </div>

                  <div style="display:flex; flex-direction: row; width: 100%; justify-content: space-between;">
                    <table id='table'></table>

                  <button id='save_button' style="height: 50px;" type="submit" onClick="location.href='/'"
                  class="btn btn-primary w3-green button_RUN" style='visibility:hidden' hidden>Сохранить</button>
                </div>
                  <script src="http://d3js.org/d3.v3.min.js"></script>

                  <script type="text/javascript"charset="utf-8">
                      

                      console.log(csv_name);

                      if (csv_name.length > 0){

                        d3.text(csv_name, function(data) {
                            var parsedCSV = d3.csv.parseRows(data);

  
                            var labels = ['well id', 'depth, m']
                            chosen_carottages.forEach(function(element) {
                              labels.push(element);
                            });
                            labels.push("lith", "goal");

                            numbers = [];
                            for (var i = 0; i < parsedCSV[0].length; i++) {
                              if (labels.includes(parsedCSV[0][i])) {
                                numbers.push(i);
                              }
                            }

                            table = document.getElementById("table");
                            //table = document.createElement('table');

                            //my_div = document.getElementById("app");
                            //document.body.insertBefore(table, my_div);

                            for (var i = 0; i < parsedCSV.length; i++) {

                              tr = document.createElement('tr')

                              for (var j = 0; j < parsedCSV[i].length; j++) {
                                if (numbers.includes(j)){

                                  if (j > parsedCSV[i].length-3 && i > 0){

                                    var x = tr.insertCell(-1);
                                    var element = document.createElement("input");
                                    element.value=parsedCSV[i][j];
                                    x.appendChild(element);
                                  }
                                  else {
                                    var x = tr.insertCell(-1);
                                    x.innerHTML=parsedCSV[i][j];
                                  }
                                }
                              }

                              table.appendChild(tr);
                              // ещё какие-то выражения
                            }
                          
                        });

                      var item = document.getElementById('save_button');
                      item.hidden = false;
                      item.style.visibility = "visible"

                    }
                  </script>

              </div>

          </div>

          <!-- End page content -->
      </div>


    </div>
  </body>
</html>
